include ../components/modal

mixin header-footer()
    div.header-footer
        .container 
            .row
               a(href="#").header-footer__item.col-xl-2.col-lg-2.col-md-2.col-4 Главная
               a(href="#slider").header-footer__item.col-xl-2.col-lg-2.col-md-2.col-4 Слайдер
               a(href="#cards").header-footer__item.col-xl-2.col-lg-2.col-md-2.col-4 Карточки
               a(href="#form").header-footer__item.col-xl-2.col-lg-2.col-md-2.col-4 Форма
               a(href="#list").header-footer__item.col-xl-2.col-lg-2.col-md-2.col-4 Список
               a(href="#openModal").header-footer__item.col-xl-2.col-lg-2.col-md-2.col-4 Модалка
        +modal()           