mixin modal()
    .modal(id="openModal")
        div.modal__wrapper
            a.modal__close(href="#close" title="Закрыть")
                img(src="../images/close.svg")
            h2.modal__title Модалка