mixin slider()
    div.slider(id="slider")
        .container 
            .row
                h2.slider__heading.col-12 СЛАЙДЕР
            .row    
                div.js-slider__items.slider__items.col-12
                    div.slider__item
                        img(src="../images/slide1.svg") 
                    div.slider__item
                        img(src="../images/slide1.svg")