.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: #282828;

  &__item {
    padding-top: 18px;
    padding-bottom: 17px;
    @extend %base-title;
    &:hover {
      color: #FFFFFF;
      opacity: .5;
    }
  }

  @include phone {
    &__item {
      text-align: center;
    }
  }
}